Repository XF2S/jxss-6bxd5f, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @architecture-team, @backend-team, @security-team, @api-team, @auth-experts, @java-experts, @domain-experts, @python-experts, @storage-team, @node-experts, @messaging-team, @analytics-team, @process-team, @frontend-team, @accessibility-team, @ux-team, @devops-team, @cloud-experts, @kubernetes-experts, @sre-team, @observability-team, @ci-experts, @compliance-team, @qa-team, @automation-team, @documentation-team, @technical-writers, @database-team

.github/CODEOWNERS:

# Last matching pattern takes precedence

# Global ownership - All files are owned by project leads and architecture team by default
*                                               @project-leads @architecture-team

# Backend Services
src/backend/packages/api-gateway/**             @backend-team @security-team @api-team
src/backend/packages/auth-service/**            @security-team @backend-team @auth-experts
src/backend/packages/application-service/**     @backend-team @java-experts @domain-experts
src/backend/packages/document-service/**        @backend-team @python-experts @storage-team
src/backend/packages/notification-service/**    @backend-team @node-experts @messaging-team
src/backend/packages/reporting-service/**       @backend-team @java-experts @analytics-team
src/backend/packages/workflow-service/**        @backend-team @java-experts @process-team
src/backend/packages/shared/**                  @backend-team @architecture-team @security-team

# Frontend Application
src/web/**                                      @frontend-team @accessibility-team @ux-team

# Infrastructure and DevOps
infrastructure/**                               @devops-team @security-team @cloud-experts
infrastructure/kubernetes/**                    @devops-team @kubernetes-experts @sre-team
infrastructure/monitoring/**                    @devops-team @sre-team @observability-team

# CI/CD and GitHub Configurations
.github/workflows/**                            @devops-team @ci-experts @security-team

# API and Protocol Definitions
**/*.proto                                      @architecture-team @api-team @backend-team

# Security-Related Code
**/security/**                                  @security-team @compliance-team

# Test Files
**/test/**                                      @qa-team @automation-team
**/*.test.*                                     @qa-team @automation-team

# Documentation
docs/**                                         @documentation-team @technical-writers

# Database Migrations
**/database/migrations/**                       @database-team @backend-team @security-team

Add public-samples/jxss-6bxd5f/src/backend/packages/workflow-service/src/main/resources/workflow.yml
  src/backend/packages/workflow-service/src/main/resources/workflow.yml
Owners: @backend-team, @java-experts, @process-team

Add public-samples/jxss-6bxd5f/src/backend/packages/workflow-service/src/test/java/com/enrollment/workflow/WorkflowTests.java
  src/backend/packages/workflow-service/src/test/java/com/enrollment/workflow/WorkflowTests.java
Owners: @qa-team, @automation-team

Add public-samples/jxss-6bxd5f/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/.env.development
  src/web/.env.development
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/.env.production
  src/web/.env.production
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/.env.test
  src/web/.env.test
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/.eslintrc.ts
  src/web/.eslintrc.ts
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/Dockerfile
  src/web/Dockerfile
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/README.md
  src/web/README.md
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/index.html
  src/web/index.html
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/package.json
  src/web/package.json
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/public/favicon.ico
  src/web/public/favicon.ico
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/public/manifest.json
  src/web/public/manifest.json
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/src/main.tsx
  src/web/src/main.tsx
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/src/api/application.api.ts
  src/web/src/api/application.api.ts
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/src/api/auth.api.ts
  src/web/src/api/auth.api.ts
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/src/api/document.api.ts
  src/web/src/api/document.api.ts
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/src/api/notification.api.ts
  src/web/src/api/notification.api.ts
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/src/api/workflow.api.ts
  src/web/src/api/workflow.api.ts
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/src/assets/fonts/index.ts
  src/web/src/assets/fonts/index.ts
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/src/assets/icons/index.ts
  src/web/src/assets/icons/index.ts
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/src/assets/images/index.ts
  src/web/src/assets/images/index.ts
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/src/components/application/ApplicationForm/ApplicationForm.test.tsx
  src/web/src/components/application/ApplicationForm/ApplicationForm.test.tsx
Owners: @qa-team, @automation-team

Add public-samples/jxss-6bxd5f/src/web/src/components/application/ApplicationForm/ApplicationForm.tsx
  src/web/src/components/application/ApplicationForm/ApplicationForm.tsx
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/src/components/application/ApplicationList/ApplicationList.test.tsx
  src/web/src/components/application/ApplicationList/ApplicationList.test.tsx
Owners: @qa-team, @automation-team

Add public-samples/jxss-6bxd5f/src/web/src/components/application/ApplicationList/ApplicationList.tsx
  src/web/src/components/application/ApplicationList/ApplicationList.tsx
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/src/components/application/ApplicationStatus/ApplicationStatus.test.tsx
  src/web/src/components/application/ApplicationStatus/ApplicationStatus.test.tsx
Owners: @qa-team, @automation-team

Add public-samples/jxss-6bxd5f/src/web/src/components/application/ApplicationStatus/ApplicationStatus.tsx
  src/web/src/components/application/ApplicationStatus/ApplicationStatus.tsx
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/src/components/common/Alert/Alert.test.tsx
  src/web/src/components/common/Alert/Alert.test.tsx
Owners: @qa-team, @automation-team

Add public-samples/jxss-6bxd5f/src/web/src/components/common/Alert/Alert.tsx
  src/web/src/components/common/Alert/Alert.tsx
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/src/components/common/Avatar/Avatar.test.tsx
  src/web/src/components/common/Avatar/Avatar.test.tsx
Owners: @qa-team, @automation-team

Add public-samples/jxss-6bxd5f/src/web/src/components/common/Avatar/Avatar.tsx
  src/web/src/components/common/Avatar/Avatar.tsx
Owners: @frontend-team, @accessibility-team, @ux-team

Add public-samples/jxss-6bxd5f/src/web/src/components/common/Breadcrumb/Breadcrumb.test.tsx
  src/web/src/components/common/Breadcrumb/Breadcrumb.test.tsx
Owners: @qa-team, @automation-team
