Repository XF2S/jxss-6bxd5f, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @architecture-team, @backend-team, @security-team, @api-team, @auth-experts, @java-experts, @domain-experts, @python-experts, @storage-team, @node-experts, @messaging-team, @analytics-team, @process-team, @frontend-team, @accessibility-team, @ux-team, @devops-team, @cloud-experts, @kubernetes-experts, @sre-team, @observability-team, @ci-experts, @compliance-team, @qa-team, @automation-team, @documentation-team, @technical-writers, @database-team

Add public-samples/jxss-6bxd5f/.github/dependabot.yml
  .github/dependabot.yml
Owners: @project-leads, @architecture-team

Add public-samples/jxss-6bxd5f/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @project-leads, @architecture-team

Add public-samples/jxss-6bxd5f/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @project-leads, @architecture-team

Add public-samples/jxss-6bxd5f/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @project-leads, @architecture-team

Add public-samples/jxss-6bxd5f/.github/workflows/cd.yml
  .github/workflows/cd.yml
Owners: @devops-team, @ci-experts, @security-team

Add public-samples/jxss-6bxd5f/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @devops-team, @ci-experts, @security-team

Add public-samples/jxss-6bxd5f/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @project-leads, @architecture-team

Add public-samples/jxss-6bxd5f/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @project-leads, @architecture-team

Add public-samples/jxss-6bxd5f/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @project-leads, @architecture-team

Add public-samples/jxss-6bxd5f/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @project-leads, @architecture-team

Add public-samples/jxss-6bxd5f/infrastructure/docker/api-gateway.Dockerfile
  infrastructure/docker/api-gateway.Dockerfile
Owners: @devops-team, @security-team, @cloud-experts

Add public-samples/jxss-6bxd5f/infrastructure/docker/application-service.Dockerfile
  infrastructure/docker/application-service.Dockerfile
Owners: @devops-team, @security-team, @cloud-experts

Add public-samples/jxss-6bxd5f/infrastructure/docker/auth-service.Dockerfile
  infrastructure/docker/auth-service.Dockerfile
Owners: @devops-team, @security-team, @cloud-experts

Add public-samples/jxss-6bxd5f/infrastructure/docker/document-service.Dockerfile
  infrastructure/docker/document-service.Dockerfile
Owners: @devops-team, @security-team, @cloud-experts

Add public-samples/jxss-6bxd5f/infrastructure/docker/notification-service.Dockerfile
  infrastructure/docker/notification-service.Dockerfile
Owners: @devops-team, @security-team, @cloud-experts

Add public-samples/jxss-6bxd5f/infrastructure/docker/reporting-service.Dockerfile
  infrastructure/docker/reporting-service.Dockerfile
Owners: @devops-team, @security-team, @cloud-experts

Add public-samples/jxss-6bxd5f/infrastructure/docker/web.Dockerfile
  infrastructure/docker/web.Dockerfile
Owners: @devops-team, @security-team, @cloud-experts

Add public-samples/jxss-6bxd5f/infrastructure/docker/workflow-service.Dockerfile
  infrastructure/docker/workflow-service.Dockerfile
Owners: @devops-team, @security-team, @cloud-experts

Add public-samples/jxss-6bxd5f/infrastructure/kubernetes/base/api-gateway.yaml
  infrastructure/kubernetes/base/api-gateway.yaml
Owners: @devops-team, @kubernetes-experts, @sre-team

Add public-samples/jxss-6bxd5f/infrastructure/kubernetes/base/application-service.yaml
  infrastructure/kubernetes/base/application-service.yaml
Owners: @devops-team, @kubernetes-experts, @sre-team

Add public-samples/jxss-6bxd5f/infrastructure/kubernetes/base/auth-service.yaml
  infrastructure/kubernetes/base/auth-service.yaml
Owners: @devops-team, @kubernetes-experts, @sre-team

Add public-samples/jxss-6bxd5f/infrastructure/kubernetes/base/document-service.yaml
  infrastructure/kubernetes/base/document-service.yaml
Owners: @devops-team, @kubernetes-experts, @sre-team

Add public-samples/jxss-6bxd5f/infrastructure/kubernetes/base/namespace.yaml
  infrastructure/kubernetes/base/namespace.yaml
Owners: @devops-team, @kubernetes-experts, @sre-team

Add public-samples/jxss-6bxd5f/infrastructure/kubernetes/base/notification-service.yaml
  infrastructure/kubernetes/base/notification-service.yaml
Owners: @devops-team, @kubernetes-experts, @sre-team

Add public-samples/jxss-6bxd5f/infrastructure/kubernetes/base/reporting-service.yaml
  infrastructure/kubernetes/base/reporting-service.yaml
Owners: @devops-team, @kubernetes-experts, @sre-team

Add public-samples/jxss-6bxd5f/infrastructure/kubernetes/base/web.yaml
  infrastructure/kubernetes/base/web.yaml
Owners: @devops-team, @kubernetes-experts, @sre-team

Add public-samples/jxss-6bxd5f/infrastructure/kubernetes/base/workflow-service.yaml
  infrastructure/kubernetes/base/workflow-service.yaml
Owners: @devops-team, @kubernetes-experts, @sre-team

Add public-samples/jxss-6bxd5f/infrastructure/kubernetes/overlays/dev/kustomization.yaml
  infrastructure/kubernetes/overlays/dev/kustomization.yaml
Owners: @devops-team, @kubernetes-experts, @sre-team

Add public-samples/jxss-6bxd5f/infrastructure/kubernetes/overlays/prod/kustomization.yaml
  infrastructure/kubernetes/overlays/prod/kustomization.yaml
Owners: @devops-team, @kubernetes-experts, @sre-team

Add public-samples/jxss-6bxd5f/infrastructure/kubernetes/overlays/staging/kustomization.yaml
  infrastructure/kubernetes/overlays/staging/kustomization.yaml
Owners: @devops-team, @kubernetes-experts, @sre-team

Add public-samples/jxss-6bxd5f/infrastructure/monitoring/elk/elasticsearch.yml
  infrastructure/monitoring/elk/elasticsearch.yml
Owners: @devops-team, @sre-team, @observability-team

Add public-samples/jxss-6bxd5f/infrastructure/monitoring/elk/kibana.yml
  infrastructure/monitoring/elk/kibana.yml
Owners: @devops-team, @sre-team, @observability-team

Add public-samples/jxss-6bxd5f/infrastructure/monitoring/elk/logstash.conf
  infrastructure/monitoring/elk/logstash.conf
Owners: @devops-team, @sre-team, @observability-team

Add public-samples/jxss-6bxd5f/infrastructure/monitoring/grafana/datasources.yml
  infrastructure/monitoring/grafana/datasources.yml
Owners: @devops-team, @sre-team, @observability-team

Add public-samples/jxss-6bxd5f/infrastructure/monitoring/grafana/dashboards/infrastructure.json
  infrastructure/monitoring/grafana/dashboards/infrastructure.json
Owners: @devops-team, @sre-team, @observability-team

Add public-samples/jxss-6bxd5f/infrastructure/monitoring/grafana/dashboards/services.json
  infrastructure/monitoring/grafana/dashboards/services.json
Owners: @devops-team, @sre-team, @observability-team

Add public-samples/jxss-6bxd5f/infrastructure/monitoring/jaeger/jaeger.yml
  infrastructure/monitoring/jaeger/jaeger.yml
Owners: @devops-team, @sre-team, @observability-team

Add public-samples/jxss-6bxd5f/infrastructure/monitoring/prometheus/prometheus.yml
  infrastructure/monitoring/prometheus/prometheus.yml
Owners: @devops-team, @sre-team, @observability-team

Add public-samples/jxss-6bxd5f/infrastructure/scripts/backup-db.sh
  infrastructure/scripts/backup-db.sh
Owners: @devops-team, @security-team, @cloud-experts

Add public-samples/jxss-6bxd5f/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @devops-team, @security-team, @cloud-experts

.github/CODEOWNERS:

# Last matching pattern takes precedence

# Global ownership - All files are owned by project leads and architecture team by default
*                                               @project-leads @architecture-team

# Backend Services
src/backend/packages/api-gateway/**             @backend-team @security-team @api-team
src/backend/packages/auth-service/**            @security-team @backend-team @auth-experts
src/backend/packages/application-service/**     @backend-team @java-experts @domain-experts
src/backend/packages/document-service/**        @backend-team @python-experts @storage-team
src/backend/packages/notification-service/**    @backend-team @node-experts @messaging-team
src/backend/packages/reporting-service/**       @backend-team @java-experts @analytics-team
src/backend/packages/workflow-service/**        @backend-team @java-experts @process-team
src/backend/packages/shared/**                  @backend-team @architecture-team @security-team

# Frontend Application
src/web/**                                      @frontend-team @accessibility-team @ux-team

# Infrastructure and DevOps
infrastructure/**                               @devops-team @security-team @cloud-experts
infrastructure/kubernetes/**                    @devops-team @kubernetes-experts @sre-team
infrastructure/monitoring/**                    @devops-team @sre-team @observability-team

# CI/CD and GitHub Configurations
.github/workflows/**                            @devops-team @ci-experts @security-team

# API and Protocol Definitions
**/*.proto                                      @architecture-team @api-team @backend-team

# Security-Related Code
**/security/**                                  @security-team @compliance-team

# Test Files
**/test/**                                      @qa-team @automation-team
**/*.test.*                                     @qa-team @automation-team

# Documentation
docs/**                                         @documentation-team @technical-writers

# Database Migrations
**/database/migrations/**                       @database-team @backend-team @security-team
