Repository XF2S/jxss-6bxd5f, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @architecture-team, @backend-team, @security-team, @api-team, @auth-experts, @java-experts, @domain-experts, @python-experts, @storage-team, @node-experts, @messaging-team, @analytics-team, @process-team, @frontend-team, @accessibility-team, @ux-team, @devops-team, @cloud-experts, @kubernetes-experts, @sre-team, @observability-team, @ci-experts, @compliance-team, @qa-team, @automation-team, @documentation-team, @technical-writers, @database-team

Add public-samples/jxss-6bxd5f/src/backend/packages/document-service/src/config.py
  src/backend/packages/document-service/src/config.py
Owners: @backend-team, @python-experts, @storage-team

Add public-samples/jxss-6bxd5f/src/backend/packages/document-service/src/controllers/document_controller.py
  src/backend/packages/document-service/src/controllers/document_controller.py
Owners: @backend-team, @python-experts, @storage-team

Add public-samples/jxss-6bxd5f/src/backend/packages/document-service/src/models/document.py
  src/backend/packages/document-service/src/models/document.py
Owners: @backend-team, @python-experts, @storage-team

Add public-samples/jxss-6bxd5f/src/backend/packages/document-service/src/services/storage_service.py
  src/backend/packages/document-service/src/services/storage_service.py
Owners: @backend-team, @python-experts, @storage-team

Add public-samples/jxss-6bxd5f/src/backend/packages/document-service/src/utils/file_validator.py
  src/backend/packages/document-service/src/utils/file_validator.py
Owners: @backend-team, @python-experts, @storage-team

Add public-samples/jxss-6bxd5f/src/backend/packages/document-service/tests/test_document_service.py
  src/backend/packages/document-service/tests/test_document_service.py
Owners: @backend-team, @python-experts, @storage-team

Add public-samples/jxss-6bxd5f/src/backend/packages/notification-service/package.json
  src/backend/packages/notification-service/package.json
Owners: @backend-team, @node-experts, @messaging-team

Add public-samples/jxss-6bxd5f/src/backend/packages/notification-service/src/app.ts
  src/backend/packages/notification-service/src/app.ts
Owners: @backend-team, @node-experts, @messaging-team

Add public-samples/jxss-6bxd5f/src/backend/packages/notification-service/src/config/email.config.ts
  src/backend/packages/notification-service/src/config/email.config.ts
Owners: @backend-team, @node-experts, @messaging-team

Add public-samples/jxss-6bxd5f/src/backend/packages/notification-service/src/controllers/notification.controller.ts
  src/backend/packages/notification-service/src/controllers/notification.controller.ts
Owners: @backend-team, @node-experts, @messaging-team

Add public-samples/jxss-6bxd5f/src/backend/packages/notification-service/src/services/email.service.ts
  src/backend/packages/notification-service/src/services/email.service.ts
Owners: @backend-team, @node-experts, @messaging-team

Add public-samples/jxss-6bxd5f/src/backend/packages/notification-service/src/services/sms.service.ts
  src/backend/packages/notification-service/src/services/sms.service.ts
Owners: @backend-team, @node-experts, @messaging-team

Add public-samples/jxss-6bxd5f/src/backend/packages/notification-service/src/templates/email.templates.ts
  src/backend/packages/notification-service/src/templates/email.templates.ts
Owners: @backend-team, @node-experts, @messaging-team

Add public-samples/jxss-6bxd5f/src/backend/packages/notification-service/test/notification.test.ts
  src/backend/packages/notification-service/test/notification.test.ts
Owners: @qa-team, @automation-team

Add public-samples/jxss-6bxd5f/src/backend/packages/reporting-service/pom.xml
  src/backend/packages/reporting-service/pom.xml
Owners: @backend-team, @java-experts, @analytics-team

Add public-samples/jxss-6bxd5f/src/backend/packages/reporting-service/src/main/java/com/enrollment/reporting/ReportingApplication.java
  src/backend/packages/reporting-service/src/main/java/com/enrollment/reporting/ReportingApplication.java
Owners: @backend-team, @java-experts, @analytics-team

Add public-samples/jxss-6bxd5f/src/backend/packages/reporting-service/src/main/java/com/enrollment/reporting/config/ReportingConfig.java
  src/backend/packages/reporting-service/src/main/java/com/enrollment/reporting/config/ReportingConfig.java
Owners: @backend-team, @java-experts, @analytics-team

Add public-samples/jxss-6bxd5f/src/backend/packages/reporting-service/src/main/java/com/enrollment/reporting/controllers/ReportController.java
  src/backend/packages/reporting-service/src/main/java/com/enrollment/reporting/controllers/ReportController.java
Owners: @backend-team, @java-experts, @analytics-team

Add public-samples/jxss-6bxd5f/src/backend/packages/reporting-service/src/main/java/com/enrollment/reporting/models/Report.java
  src/backend/packages/reporting-service/src/main/java/com/enrollment/reporting/models/Report.java
Owners: @backend-team, @java-experts, @analytics-team

Add public-samples/jxss-6bxd5f/src/backend/packages/reporting-service/src/main/java/com/enrollment/reporting/services/ReportGenerationService.java
  src/backend/packages/reporting-service/src/main/java/com/enrollment/reporting/services/ReportGenerationService.java
Owners: @backend-team, @java-experts, @analytics-team

Add public-samples/jxss-6bxd5f/src/backend/packages/reporting-service/src/main/resources/reporting.yml
  src/backend/packages/reporting-service/src/main/resources/reporting.yml
Owners: @backend-team, @java-experts, @analytics-team

Add public-samples/jxss-6bxd5f/src/backend/packages/reporting-service/src/test/java/com/enrollment/reporting/ReportingTests.java
  src/backend/packages/reporting-service/src/test/java/com/enrollment/reporting/ReportingTests.java
Owners: @qa-team, @automation-team

Add public-samples/jxss-6bxd5f/src/backend/packages/shared/grpc/proto/application.proto
  src/backend/packages/shared/grpc/proto/application.proto
Owners: @architecture-team, @api-team, @backend-team

Add public-samples/jxss-6bxd5f/src/backend/packages/shared/grpc/proto/auth.proto
  src/backend/packages/shared/grpc/proto/auth.proto
Owners: @architecture-team, @api-team, @backend-team

Add public-samples/jxss-6bxd5f/src/backend/packages/shared/grpc/proto/document.proto
  src/backend/packages/shared/grpc/proto/document.proto
Owners: @architecture-team, @api-team, @backend-team

Add public-samples/jxss-6bxd5f/src/backend/packages/shared/grpc/proto/notification.proto
  src/backend/packages/shared/grpc/proto/notification.proto
Owners: @architecture-team, @api-team, @backend-team

Add public-samples/jxss-6bxd5f/src/backend/packages/shared/grpc/proto/workflow.proto
  src/backend/packages/shared/grpc/proto/workflow.proto
Owners: @architecture-team, @api-team, @backend-team

Add public-samples/jxss-6bxd5f/src/backend/packages/shared/models/src/application.model.ts
  src/backend/packages/shared/models/src/application.model.ts
Owners: @backend-team, @architecture-team, @security-team

Add public-samples/jxss-6bxd5f/src/backend/packages/shared/models/src/document.model.ts
  src/backend/packages/shared/models/src/document.model.ts
Owners: @backend-team, @architecture-team, @security-team

Add public-samples/jxss-6bxd5f/src/backend/packages/shared/models/src/user.model.ts
  src/backend/packages/shared/models/src/user.model.ts
Owners: @backend-team, @architecture-team, @security-team

Add public-samples/jxss-6bxd5f/src/backend/packages/shared/models/src/workflow.model.ts
  src/backend/packages/shared/models/src/workflow.model.ts
Owners: @backend-team, @architecture-team, @security-team

Add public-samples/jxss-6bxd5f/src/backend/packages/shared/utils/src/encryption.util.ts
  src/backend/packages/shared/utils/src/encryption.util.ts
Owners: @backend-team, @architecture-team, @security-team

Add public-samples/jxss-6bxd5f/src/backend/packages/shared/utils/src/logger.util.ts
  src/backend/packages/shared/utils/src/logger.util.ts
Owners: @backend-team, @architecture-team, @security-team

Add public-samples/jxss-6bxd5f/src/backend/packages/shared/utils/src/validation.util.ts
  src/backend/packages/shared/utils/src/validation.util.ts
Owners: @backend-team, @architecture-team, @security-team

Add public-samples/jxss-6bxd5f/src/backend/packages/workflow-service/pom.xml
  src/backend/packages/workflow-service/pom.xml
Owners: @backend-team, @java-experts, @process-team

Add public-samples/jxss-6bxd5f/src/backend/packages/workflow-service/src/main/java/com/enrollment/workflow/WorkflowApplication.java
  src/backend/packages/workflow-service/src/main/java/com/enrollment/workflow/WorkflowApplication.java
Owners: @backend-team, @java-experts, @process-team

Add public-samples/jxss-6bxd5f/src/backend/packages/workflow-service/src/main/java/com/enrollment/workflow/config/WorkflowConfig.java
  src/backend/packages/workflow-service/src/main/java/com/enrollment/workflow/config/WorkflowConfig.java
Owners: @backend-team, @java-experts, @process-team

Add public-samples/jxss-6bxd5f/src/backend/packages/workflow-service/src/main/java/com/enrollment/workflow/controllers/WorkflowController.java
  src/backend/packages/workflow-service/src/main/java/com/enrollment/workflow/controllers/WorkflowController.java
Owners: @backend-team, @java-experts, @process-team

Add public-samples/jxss-6bxd5f/src/backend/packages/workflow-service/src/main/java/com/enrollment/workflow/models/WorkflowState.java
  src/backend/packages/workflow-service/src/main/java/com/enrollment/workflow/models/WorkflowState.java
Owners: @backend-team, @java-experts, @process-team

Add public-samples/jxss-6bxd5f/src/backend/packages/workflow-service/src/main/java/com/enrollment/workflow/services/WorkflowService.java
  src/backend/packages/workflow-service/src/main/java/com/enrollment/workflow/services/WorkflowService.java
Owners: @backend-team, @java-experts, @process-team

.github/CODEOWNERS:

# Last matching pattern takes precedence

# Global ownership - All files are owned by project leads and architecture team by default
*                                               @project-leads @architecture-team

# Backend Services
src/backend/packages/api-gateway/**             @backend-team @security-team @api-team
src/backend/packages/auth-service/**            @security-team @backend-team @auth-experts
src/backend/packages/application-service/**     @backend-team @java-experts @domain-experts
src/backend/packages/document-service/**        @backend-team @python-experts @storage-team
src/backend/packages/notification-service/**    @backend-team @node-experts @messaging-team
src/backend/packages/reporting-service/**       @backend-team @java-experts @analytics-team
src/backend/packages/workflow-service/**        @backend-team @java-experts @process-team
src/backend/packages/shared/**                  @backend-team @architecture-team @security-team

# Frontend Application
src/web/**                                      @frontend-team @accessibility-team @ux-team

# Infrastructure and DevOps
infrastructure/**                               @devops-team @security-team @cloud-experts
infrastructure/kubernetes/**                    @devops-team @kubernetes-experts @sre-team
infrastructure/monitoring/**                    @devops-team @sre-team @observability-team

# CI/CD and GitHub Configurations
.github/workflows/**                            @devops-team @ci-experts @security-team

# API and Protocol Definitions
**/*.proto                                      @architecture-team @api-team @backend-team

# Security-Related Code
**/security/**                                  @security-team @compliance-team

# Test Files
**/test/**                                      @qa-team @automation-team
**/*.test.*                                     @qa-team @automation-team

# Documentation
docs/**                                         @documentation-team @technical-writers

# Database Migrations
**/database/migrations/**                       @database-team @backend-team @security-team
