Repository XF2S/jxss-6bxd5f, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @architecture-team, @backend-team, @security-team, @api-team, @auth-experts, @java-experts, @domain-experts, @python-experts, @storage-team, @node-experts, @messaging-team, @analytics-team, @process-team, @frontend-team, @accessibility-team, @ux-team, @devops-team, @cloud-experts, @kubernetes-experts, @sre-team, @observability-team, @ci-experts, @compliance-team, @qa-team, @automation-team, @documentation-team, @technical-writers, @database-team

Add public-samples/jxss-6bxd5f/infrastructure/terraform/modules/waf/outputs.tf
  infrastructure/terraform/modules/waf/outputs.tf
Owners: @devops-team, @security-team, @cloud-experts

Add public-samples/jxss-6bxd5f/infrastructure/terraform/modules/waf/variables.tf
  infrastructure/terraform/modules/waf/variables.tf
Owners: @devops-team, @security-team, @cloud-experts

Add public-samples/jxss-6bxd5f/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @project-leads, @architecture-team

Add public-samples/jxss-6bxd5f/src/backend/.env.example
  src/backend/.env.example
Owners: @project-leads, @architecture-team

Add public-samples/jxss-6bxd5f/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @project-leads, @architecture-team

Add public-samples/jxss-6bxd5f/src/backend/README.md
  src/backend/README.md
Owners: @project-leads, @architecture-team

Add public-samples/jxss-6bxd5f/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @project-leads, @architecture-team

Add public-samples/jxss-6bxd5f/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @project-leads, @architecture-team

Add public-samples/jxss-6bxd5f/src/backend/lerna.json
  src/backend/lerna.json
Owners: @project-leads, @architecture-team

Add public-samples/jxss-6bxd5f/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @project-leads, @architecture-team

Add public-samples/jxss-6bxd5f/src/backend/package.json
  src/backend/package.json
Owners: @project-leads, @architecture-team

Add public-samples/jxss-6bxd5f/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @project-leads, @architecture-team

Add public-samples/jxss-6bxd5f/src/backend/packages/api-gateway/package.json
  src/backend/packages/api-gateway/package.json
Owners: @backend-team, @security-team, @api-team

Add public-samples/jxss-6bxd5f/src/backend/packages/api-gateway/src/app.ts
  src/backend/packages/api-gateway/src/app.ts
Owners: @backend-team, @security-team, @api-team

Add public-samples/jxss-6bxd5f/src/backend/packages/api-gateway/src/config/cors.config.ts
  src/backend/packages/api-gateway/src/config/cors.config.ts
Owners: @backend-team, @security-team, @api-team

Add public-samples/jxss-6bxd5f/src/backend/packages/api-gateway/src/config/rate-limit.config.ts
  src/backend/packages/api-gateway/src/config/rate-limit.config.ts
Owners: @backend-team, @security-team, @api-team

Add public-samples/jxss-6bxd5f/src/backend/packages/api-gateway/src/middleware/auth.middleware.ts
  src/backend/packages/api-gateway/src/middleware/auth.middleware.ts
Owners: @backend-team, @security-team, @api-team

Add public-samples/jxss-6bxd5f/src/backend/packages/api-gateway/src/middleware/error.middleware.ts
  src/backend/packages/api-gateway/src/middleware/error.middleware.ts
Owners: @backend-team, @security-team, @api-team

Add public-samples/jxss-6bxd5f/src/backend/packages/api-gateway/src/middleware/logging.middleware.ts
  src/backend/packages/api-gateway/src/middleware/logging.middleware.ts
Owners: @backend-team, @security-team, @api-team

Add public-samples/jxss-6bxd5f/src/backend/packages/api-gateway/src/routes/index.ts
  src/backend/packages/api-gateway/src/routes/index.ts
Owners: @backend-team, @security-team, @api-team

Add public-samples/jxss-6bxd5f/src/backend/packages/api-gateway/test/app.test.ts
  src/backend/packages/api-gateway/test/app.test.ts
Owners: @qa-team, @automation-team

Add public-samples/jxss-6bxd5f/src/backend/packages/application-service/pom.xml
  src/backend/packages/application-service/pom.xml
Owners: @backend-team, @java-experts, @domain-experts

Add public-samples/jxss-6bxd5f/src/backend/packages/application-service/src/main/java/com/enrollment/application/Application.java
  src/backend/packages/application-service/src/main/java/com/enrollment/application/Application.java
Owners: @backend-team, @java-experts, @domain-experts

Add public-samples/jxss-6bxd5f/src/backend/packages/application-service/src/main/java/com/enrollment/application/config/ApplicationConfig.java
  src/backend/packages/application-service/src/main/java/com/enrollment/application/config/ApplicationConfig.java
Owners: @backend-team, @java-experts, @domain-experts

Add public-samples/jxss-6bxd5f/src/backend/packages/application-service/src/main/java/com/enrollment/application/controllers/ApplicationController.java
  src/backend/packages/application-service/src/main/java/com/enrollment/application/controllers/ApplicationController.java
Owners: @backend-team, @java-experts, @domain-experts

Add public-samples/jxss-6bxd5f/src/backend/packages/application-service/src/main/java/com/enrollment/application/models/Application.java
  src/backend/packages/application-service/src/main/java/com/enrollment/application/models/Application.java
Owners: @backend-team, @java-experts, @domain-experts

Add public-samples/jxss-6bxd5f/src/backend/packages/application-service/src/main/java/com/enrollment/application/repositories/ApplicationRepository.java
  src/backend/packages/application-service/src/main/java/com/enrollment/application/repositories/ApplicationRepository.java
Owners: @backend-team, @java-experts, @domain-experts

Add public-samples/jxss-6bxd5f/src/backend/packages/application-service/src/main/java/com/enrollment/application/services/ApplicationService.java
  src/backend/packages/application-service/src/main/java/com/enrollment/application/services/ApplicationService.java
Owners: @backend-team, @java-experts, @domain-experts

Add public-samples/jxss-6bxd5f/src/backend/packages/application-service/src/main/resources/application.yml
  src/backend/packages/application-service/src/main/resources/application.yml
Owners: @backend-team, @java-experts, @domain-experts

Add public-samples/jxss-6bxd5f/src/backend/packages/application-service/src/test/java/com/enrollment/application/ApplicationTests.java
  src/backend/packages/application-service/src/test/java/com/enrollment/application/ApplicationTests.java
Owners: @qa-team, @automation-team

Add public-samples/jxss-6bxd5f/src/backend/packages/auth-service/package.json
  src/backend/packages/auth-service/package.json
Owners: @security-team, @backend-team, @auth-experts

Add public-samples/jxss-6bxd5f/src/backend/packages/auth-service/src/app.ts
  src/backend/packages/auth-service/src/app.ts
Owners: @security-team, @backend-team, @auth-experts

Add public-samples/jxss-6bxd5f/src/backend/packages/auth-service/src/config/auth.config.ts
  src/backend/packages/auth-service/src/config/auth.config.ts
Owners: @security-team, @backend-team, @auth-experts

Add public-samples/jxss-6bxd5f/src/backend/packages/auth-service/src/controllers/auth.controller.ts
  src/backend/packages/auth-service/src/controllers/auth.controller.ts
Owners: @security-team, @backend-team, @auth-experts

Add public-samples/jxss-6bxd5f/src/backend/packages/auth-service/src/models/user.model.ts
  src/backend/packages/auth-service/src/models/user.model.ts
Owners: @security-team, @backend-team, @auth-experts

Add public-samples/jxss-6bxd5f/src/backend/packages/auth-service/src/services/jwt.service.ts
  src/backend/packages/auth-service/src/services/jwt.service.ts
Owners: @security-team, @backend-team, @auth-experts

Add public-samples/jxss-6bxd5f/src/backend/packages/auth-service/src/services/mfa.service.ts
  src/backend/packages/auth-service/src/services/mfa.service.ts
Owners: @security-team, @backend-team, @auth-experts

Add public-samples/jxss-6bxd5f/src/backend/packages/auth-service/test/auth.test.ts
  src/backend/packages/auth-service/test/auth.test.ts
Owners: @qa-team, @automation-team

Add public-samples/jxss-6bxd5f/src/backend/packages/document-service/pyproject.toml
  src/backend/packages/document-service/pyproject.toml
Owners: @backend-team, @python-experts, @storage-team

Add public-samples/jxss-6bxd5f/src/backend/packages/document-service/src/app.py
  src/backend/packages/document-service/src/app.py
Owners: @backend-team, @python-experts, @storage-team

.github/CODEOWNERS:

# Last matching pattern takes precedence

# Global ownership - All files are owned by project leads and architecture team by default
*                                               @project-leads @architecture-team

# Backend Services
src/backend/packages/api-gateway/**             @backend-team @security-team @api-team
src/backend/packages/auth-service/**            @security-team @backend-team @auth-experts
src/backend/packages/application-service/**     @backend-team @java-experts @domain-experts
src/backend/packages/document-service/**        @backend-team @python-experts @storage-team
src/backend/packages/notification-service/**    @backend-team @node-experts @messaging-team
src/backend/packages/reporting-service/**       @backend-team @java-experts @analytics-team
src/backend/packages/workflow-service/**        @backend-team @java-experts @process-team
src/backend/packages/shared/**                  @backend-team @architecture-team @security-team

# Frontend Application
src/web/**                                      @frontend-team @accessibility-team @ux-team

# Infrastructure and DevOps
infrastructure/**                               @devops-team @security-team @cloud-experts
infrastructure/kubernetes/**                    @devops-team @kubernetes-experts @sre-team
infrastructure/monitoring/**                    @devops-team @sre-team @observability-team

# CI/CD and GitHub Configurations
.github/workflows/**                            @devops-team @ci-experts @security-team

# API and Protocol Definitions
**/*.proto                                      @architecture-team @api-team @backend-team

# Security-Related Code
**/security/**                                  @security-team @compliance-team

# Test Files
**/test/**                                      @qa-team @automation-team
**/*.test.*                                     @qa-team @automation-team

# Documentation
docs/**                                         @documentation-team @technical-writers

# Database Migrations
**/database/migrations/**                       @database-team @backend-team @security-team
